*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(https://assets.nflxext.com/ffe/siteui/vlv3/dd4dfce3-1a39-4b1a-8e19-b7242da17e68/8ae9bb39-5f56-4381-bf4a-60198429a11c/ZA-en-20240527-popsignuptwoweeks-perspective_alpha_website_large.jpg); 
}
header{
    width: 100%;
    height: 10vh;
    position: relative;
    top: 0px;
}
.svg-icon{
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    position: absolute;
    left: 170px;
    fill: currentColor;
    padding: 20px
}
body{
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    text-align: center;
}
.lblSignIn{
    padding: 20px;
    text-align: left;
    margin-left: 50px;
    
}
.black-contaniner{
    color:#fff;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 535px;
    top: 105px;
    width: 30%;
    border-radius: 6px;
    height: 100vh;

}
.black-contaniner h1, input, button, a{
    margin: 10px;
    width: 60%;
    border: none;
}
p{
    margin: 10px;
    text-align: center;
}
input {
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 5px;
    background:  rgba(15, 15, 15, 0.7);
    height: 24px;
    padding: 24px 16px 8px 16px;
    color: #fff;
}

button{
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    width: 68%;
}
#signin button:hover{
    background: linear-gradient(rgba(255, 0, 0, 0.8),rgba(255, 0, 0, 0.8));
}
#signin button{
    background: red;
    border: 1px solid red;
    border-radius: 5px;
}
#signinCode button:hover{
    background: linear-gradient( rgba(97, 97, 97, 0.5), rgba(97, 97, 97, 0.5));
}
#signinCode button{
    background: rgba(128, 128, 128, 0.3);
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 5px;
}
#forgotPin a{
    color: #ffffff;
    text-decoration: none;
}
#forgotPin a:hover{
    text-decoration: underline;
    color: rgba(128, 128, 128, 1.0);
}
#black-contaniner a:hover{
    text-decoration: underline;
    color:green
}
.rememberme{
    height: 40px;
    width: 100%;
    text-align: left;
    margin: 15px 0px 0px 60px;

}
.rememberme input:hover{
    background: rgba(128, 128, 128, 1.0);
}
.rememberme input{
    height: 15px;
    width: 15px;
    margin: 0px 5px 0px 14px;
}
.rememberme label{
    font-size: 15px;
}
#signup{
    color: #ffffff;
    margin: 10px 0px 0px 65px;
    text-align: left;
}
#signup a{
    text-decoration: none;
    margin: 5px;
    color: #ffffff;
}
#signup a:hover{
    text-decoration: underline;
}
#signup span{
    margin-left: 8px;
}
span{
    color: rgba(128, 128, 128, 0.8);
}
#reCAPTCHAP{
    margin: 10px 0px 0px 60px;
    padding: 10px;
    text-align: left;
    font-size: 12px;
    
}
#reCAPTCHAP button{
    color: blue;
    text-decoration: none;
    font-size: 12px;
    border: none;
    margin: 0px;
    text-align: left;
    height: 15px;
    width: 24%;
}
#reCAPTCHAP button:hover{
    text-decoration: underline;
}
.footer{
    background: black;
    position: relative;
    top: 100vh;  
}
.contact{
    padding: 10% 0% 2% 9.70%;
}
.contact a{
    color: rgba(128, 128, 128, 0.8);
    margin: 10px 4px 10px 10px; 
}
.footer ul, li, a{
    text-decoration: none;
    list-style: none;
    display: inline;
}
.topFooter { 
    padding-top: 2px;
    padding-left: 140px;
}
.bottomFooter {
    padding: 20px 0px 20px 140px;
}
.topFooter a{
    margin-right: 18%;
    text-decoration: underline;
    color: rgba(128, 128, 128, 0.8);
}
.bottomFooter a{
    margin-right: 9.5%;
    padding-top: 10%;
    text-decoration:underline;
    color: rgba(128, 128, 128, 0.8);
}
.language{
    padding: 20px 0px 120px 140px;
}
.language select{
    color: #ffffff;
    width: 10%;
    height: 35px;
    border-radius: 5px;
}
div, p ,a, span, button, label, h1, svg, ul, li, select{
    background: transparent;
}